@page
@model Cafenea.Pages.Cafele.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cafea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cafea.ID" />
            <div class="form-group">
                <label asp-for="Cafea.DenumireCafea" class="control-label"></label>
                <input asp-for="Cafea.DenumireCafea" class="form-control" />
                <span asp-validation-for="Cafea.DenumireCafea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.TipCafea" class="control-label"></label>
                <input asp-for="Cafea.TipCafea" class="form-control" />
                <span asp-validation-for="Cafea.TipCafea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.TipBoabe" class="control-label"></label>
                <input asp-for="Cafea.TipBoabe" class="form-control" />
                <span asp-validation-for="Cafea.TipBoabe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.Lapte" class="control-label"></label>
                <input asp-for="Cafea.Lapte" class="form-control" />
                <span asp-validation-for="Cafea.Lapte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.Aroma" class="control-label"></label>
                <input asp-for="Cafea.Aroma" class="form-control" />
                <span asp-validation-for="Cafea.Aroma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.Topping" class="control-label"></label>
                <input asp-for="Cafea.Topping" class="form-control" />
                <span asp-validation-for="Cafea.Topping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafea.PretFinal" class="control-label"></label>
                <input asp-for="Cafea.PretFinal" class="form-control" />
                <span asp-validation-for="Cafea.PretFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
